* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
}

#root {
  width: 100%;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  width: 100%;
  float: right;
  font-size: 30px;
  text-align: right;
}

.close i {
  cursor: pointer;
}

.bmitable_div {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-radius: 30px;
  justify-content: center;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 30%), 0 0 3px 0 rgb(0 0 0 / 30%);
  background-color: rgb(242, 242, 242);
  padding: 10px 20px 20px 30px;
  position: absolute;
  z-index: 999;
  display: none;
}

.bmitable_img{
  width: 95%;
  height: 95%;
}

.heading {
  margin-top: 30px;
  display: inline;
  font-size: 40px;
  font-family: "noticia text", sans-serif;
}

.desc {
  margin-top: 20px;
  font-size: 17px;
  padding: 0px 10px;
  text-align: center;
  font-family: "noticia text", sans-serif;
}

.center_div_title {
  width: 82%;
  text-align: left;
  font-size: 25px;
  margin-top: 40px;
  color: #5161ce;
  font-family: "noticia text", sans-serif;
}

.center_div {
  width: 90%;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.center_div_1 {
  width: 600px;
  height: 400px;
  display: flex;
  padding: 20px 20px 20px 50px;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%), 0 0 3px 0 rgb(0 0 0 / 10%);
  background-color: rgb(233, 233, 233);
}

.center_div_2 {
  width: 600px;
  height: 400px;
  margin-left: 15px;
  padding: 60px 20px 20px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%), 0 0 3px 0 rgb(0 0 0 / 10%);
  background-color: rgb(233, 233, 233);
}

.height_div {
  width: 100%;
  margin-bottom: 20px;
}

.height_label {
  font-family: "noticia text", sans-serif;
}

#height_feet,
#height_inches,
#weight_kg {
  width: 85px;
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0px 5px;
  text-align: center;
  font-family: "Questrial", sans-serif;
  font-size: 17px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%), 0 0 2px 0 rgb(0 0 0 / 5%);
  height: 40px;
}

#height_feet:focus,
#height_inches:focus,
#weight_kg:focus {
  border: 3px solid #5161ce;
}

.weight_label {
  font-family: "noticia text", sans-serif;
}

#weight_kg {
  width: 150px;
}

.button_div {
  display: flex;
  flex-direction: row;
  padding: 30px 0px;
}

.compute_btn,
.reset_btn {
  width: 130px;
  height: 40px;
  margin-left: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #21b935;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
}

.compute_btn:hover {
  background-color: #21882f;
}

.reset_btn {
  background-color: #ffcc00;
}

.reset_btn:hover {
  background-color: #e6b905;
}

.result_bmi {
  margin-top: 60px;
  font-family: "noticia text", sans-serif;
}

.bmi_category {
  font-family: "noticia text", sans-serif;
  margin-bottom: 20px;
}

.category_item {
  font-family: "noticia text", sans-serif;
  font-size: 18px;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

.bmitable {
  width: fit-content;
  color: #5161ce;
  text-decoration: underline;
  font-family: "noticia text", sans-serif;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
}

.copyright {
  margin-top: 70px;
  font-size: 15px;
  height: 40px;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
  .bmi_category {
    font-size: 20px;
  }
  .category_item,
  .bmitable,
  .height_label,
  .weight_label,
  .compute_btn,
  .reset_btn,
  .result_bmi,
  .desc {
    font-size: 16px;
  }
  .center_div {
    align-items: center;
    flex-direction: column;
  }
  .center_div_2 {
    margin: 0px;
    width: 90%;
    height: 290px;
    padding: 20px 10px 20px 30px;
    margin-top: 20px;
  }
  .center_div_1 {
    width: 90%;
    padding: 20px 10px 20px 30px;
    height: 330px;
  }
  .result_bmi {
    margin-top: 30px;
  }
  .bmitable_div{
    width: 95%;
    padding: 10px;
    top: 410px;
    height: 70%;
  }
  .bmitable_img{
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 460px) {
  .center_div_title {
    font-size: 19px;
  }
  .bmitable_div{
    width: 95%;
    padding: 10px;
    top: 550px;
    height: 45%;
  }
  .bmitable_img{
    width: 329px;
    height: 220px;
  }
  #weight_kg{
    width: 80px;
  }
  .compute_btn,
  .reset_btn{
    font-size: 15px;
  }
  .button_div{
    width: 100%;
  }
  .center_div_1, .center_div_2{
    padding: 20px 10px 20px 20px;
  }
  #height_inches {
    margin-left: 103px;
    margin-top: 10px;
  }
}
